**.DS_Store
**.suo
**.cache

src/BetterNotes/BetterNotes/BetterNotes.csproj.user
src/BetterNotes/BetterNotes/BetterNotes.sln.DotSettings.user
src/BetterNotes/BetterNotesGUI/BetterNotesGUI.csproj.user
src/BetterNotes/BetterNotesGUI/BetterNotesGUI.sln.DotSettings.user

src/BetterNotes/.vs/**
src/BetterNotes/BetterNotes/bin/**
src/BetterNotes/BetterNotes/obj/**
src/BetterNotes/BetterNotesGUI/bin/**
src/BetterNotes/BetterNotesGUI/obj/**
