**.DS_Store
**.suo
**.cache

BetterNotes/BetterNotes/BetterNotes.csproj.user
BetterNotes/HomePage/HomePage.csproj.user
BetterNotes/HomePage/BetterNotes.sln.DotSettings.user
BetterNotes/HomePage/HomePage.sln.DotSettings.user

BetterNotes/.vs/**
BetterNotes/BetterNotes/bin/**
BetterNotes/BetterNotes/obj/**
BetterNotes/HomePage/bin/**
BetterNotes/HomePage/obj/**
