**.DS_Store
**.suo
**.cache

BetterNotes/BetterNotes/BetterNotes.csproj.user
BetterNotes/BetterNotes/BetterNotes.sln.DotSettings.user
BetterNotes/BetterNotesGUI/BetterNotesGUI.csproj.user
BetterNotes/BetterNotesGUI/BetterNotesGUI.sln.DotSettings.user

BetterNotes/.vs/**
BetterNotes/BetterNotes/bin/**
BetterNotes/BetterNotes/obj/**
BetterNotes/BetterNotesGUI/bin/**
BetterNotes/BetterNotesGUI/obj/**
